html, body {
    margin: 0;
    padding: 0;
}

html {
    font-size: 16px;
    font-family: 'Nanum Gothic', sans-serif;
}

section,
article,
main,
div,
ul,
ol,
li,
dl,
dt,
dd,
h1,
h2,
h3,
h4,
p,
span,
a,
address,
image {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    letter-spacing: 1px;
}

ul,
ol,
li {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}